<head>
    <link rel="stylesheet" href="/css/nav.css">
</head>
<header class="header-main">
    <img class="logo-img" src="/imgs/Kantatalogo.png" alt="">
    <nav class="nav-bar">
        <ul>
            <li class="nav-item"><a href="/home">Home</a></li>
            <li class="nav-item"><a href="/instruments">Instruments</a></li>
            <div class="dropdown">
                <span class="nav-item">Profile</span>
                <div class="dropdown-content">
                    <ul id="profileButtons">
                        <li>
                            <form  class="form-button" action="/users/logout" method="POST">
                                <button class="form-link" id="logout" type="submit">Log Out</button>
                            </form>
                        </li>
                        <li>
                           <a  class="nav-other-link" href="/users/edit/<%=userObject._id%>"><button class="form-link">Edit Profile</button></a>
                        </li>
                        <li>
                            <a class="nav-other-link" href="/users/home"><button class="form-link">Profile Home</button></a>
                        </li>
                        <li>
                            <form class="form-button" action="/users/<%= userObject._id %>?_method=DELETE" method="post">
                                <button class="form-link" type="submit">Delete Profile</button>
                            </form>
                        </li>
                        </section>
                </div>
            </div>
            <% if (userObject.length){ %>
                <li class="nav-item box-nav"><a href="/home/register">Sign Up</a></li>
                <% } %>
        </ul>

    </nav>
</header>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/nav.js"></script>