<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registerform.css">

</head>

<body>
    <main class="wrapper">


            <section class="box">
                <a href="/home"><img src="/imgs/Kantatalogo.png" alt=""></a>
                <%- include('./partials/messages') %>

                <form action="/home/login" method="POST" class="login-from">
                    <input type="text" name="email" placeholder="Email" class="input-field">
                    <input type="password" name="password" placeholder="Password" class="input-field">
                    <button type="submit" id="signup">Login</button>
                </form>
            </section>


    </main>

</body>

</html>