<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/landingpage.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('./partials/nav') %> 
<body>
    <div class="bouncing-text">
        <div class="k">K</div>
        <div class="a">A</div>
        <div class="n">N</div>
        <div class="t">T</div>
        <div class="a">A</div>
        <div class="t">T</div>
        <div class="a">A</div>
        <div class="shadow"></div>
        <div class="shadow-two"></div>
      </div>
    <section id = slideShow>
        <div class = carousel>
            <button id = "prev">&#8610;</button>
            <button id = "next">&#8611;</button>
                <div class = "slide slide--visible">
                    <img src="<%= instrument.imagePath %>" alt="img1">
                </div>
                <div class = slide>
                    <img src="<%= instrument.imagePath %>" alt="img2">
                </div>
                <div class = slide>
                    <img src="<%= instrument.imagePath %>" alt="img3">
                </div>
        </div>
    </section>
    <section class = "mainAbout">
      <h1>About Kantata</h1>
      <p>
          Welcomg to Kantata! An app where you can share your Music, sell or buy an instrument, or find other Musicians in your local area!
      </p>
    </section>
    <% if (!userObject) { %>
         <a href="/home/register"> 
        <button>
            SignUp
        </button>
    </a>
    <a href="/home/login">
        <button>
            Login
        </button>
    </a>
<% } %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/instrumentsCss.js"></script>
</body>
</html>