<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/landingpage.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('./partials/nav') %> 
<body>
    <div class="bouncing-text">
        <div class="k">K</div>
        <div class="a">A</div>
        <div class="n">N</div>
        <div class="t">T</div>
        <div class="a">A</div>
        <div class="t">T</div>
        <div class="a">A</div>
        <div class="shadow"></div>
        <div class="shadow-two"></div>
      </div>
    <% if (!userObject) { %>
         <a href="/home/register"> 
        <button>
            SignUp
        </button>
    </a>
    <a href="/home/login">
        <button>
            Login
        </button>
    </a>
<% } %>
</body>
</html>