<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/template.css"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
        <main class="wrapper">
            <header class="header-main">
                <img class="logo-img" src="/imgs/Kantatalogo.png" alt="">
                <nav class="nav-bar">
                    <ul>
                        <li class="nav-item"><a href="#">About</a></li>
                        <li class="nav-item"><a href="#">Product</a></li>
                        <li class="nav-item"><a href="#">Pricing</a></li>
                        <li class="nav-item box-nav"><a href="/home/register">Sign Up</a></li>
                    </ul>

                </nav>
            </header>
            <div class="grid">
                <section class="blank-section">

                </section>
                <section class="hero-section">
                    <h6 class="subtitle">Sell your instruments with KANTATA</h6>
                    <h1 class="hero-heading">Selling has <br> never been <br> easier</h1>
                    <p class="hero-text">Discover the easiest and smartest way to buy and sell your musical instruments. Sell,
                        collaborate, invest, withdraw, send, and receive money all over world with no limit.</p>
                    <a href="/home/login"><button class="btn">Login</button></a>
                    <a href="/home/register" class="register-link">Sign Up</a>
                </section>
            </div>

        </main>
</body>
</html>