<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/template.css" <link
        href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="v4_7">
        <div class="v103_14"></div>
        <div class="v13_96">
            <span class="v11_55">About</span>
            <span class="v11_56">Product</span>
            <span class="v11_57">Pricing</span>
            <span class="v11_58">Sign Up</span>
            <div class="v11_59"></div>
        </div>
        <div class="v102_2"></div>
        <div class="v13_95">
            <span class="v11_85">Sell your instruments with KANTATA</span>
            <span class="v11_86">Selling has never been easier</span>
            <span class="v11_87">Discover the easiest and smartest way to buy and sell your musical instruments. Sell,
                collaborate, invest, withdraw, send, and receive money all over world with no limit.</span>
            <div class="v13_88"></div>
            <span class="v13_89">Get Started</span>
            <span class="v13_90">Download App</span>
        </div>
        <div class="v102_6"></div>
    </div>
</body>
</html>