   
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    min-width: 375px;
}
.form-contents{
    max-width: 68em;
    margin-top: 10em;
}

.nasa-btn{
    border: none;
    background-color: #7D83BF;
    color: white;
    border-radius: 10px;
    width: 350px;
    font-size: 1.3rem;
}
.nasa-btn:hover{
    background-color: #333;
    transition: .5s ease-in-out;
}

.moving-button{
    padding: 10px 0;
    transition: .5s ease-in-out;
}
.moving-button:hover{
    transform: translate3d(0px, -7px, 0px);
}
  

.fileUpload{
    width: 350px;
    height: 680px;
    margin-top: 1rem;

}

input[type="text"], input[type="number"] , textarea {
    width: 350px;
    border: 1px white solid;
    background-color: #F2F0F380;
    border: none;
    font-size: 1rem;
    padding: .8em 0.3em;
    border-radius: .8em;
    margin: .4em;
    text-align: center;

}
input:focus, textarea:focus{
    outline: none;
}
.filepond--panel.filepond--panel-root{
    background-color: #F2F0F380;;
    border: 1px solid #F2F0F380;;
    font-size: inherit;
    height: 680px;

}

.actual-form{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    height: ;
}

.form-with-fields{
    margin: .7em 1em 0 auto;
}

::placeholder {
    color: white;
    text-align: center;
}
.actual-form.height{ 
    height: 680px;
 
}

.form-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
}