.carousel {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.carousel img {
    display: block;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-left: 25%;
}
.carousel .slide--visible {
    display: block;
}
.carousel .slide--hidden {
    display: none;
}
.carousel button {
    position: absolute;
    z-index: 1;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    color: rgba(255, 255, 255);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .3);
}
.carousel button:hover, .carousel button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .5);
} 
#prev {
    left: 1rem;
}
#next {
    right: 1rem;
}
.card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
}
.card_inner {
    width: 100%;
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card_inner.is-flipped {
    transform: rotateY(180deg);
}
.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, .2);
}
.card_face--front {
    background-image: linear-gradient(to bottom right, #5f748f, #3A475E, #6fccd8, #f2f0f3, #7d83bf);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card_face--front h2 {
    color: white;
    font-size: 32px;
}
.card_face--back {
    display: flex;
    background-image: linear-gradient(to bottom right, #5f748f, #3A475E, #6fccd8, #f2f0f3, #7d83bf);
    transform: rotateY(180deg);
}
.card_content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_header {
    position: relative;
    padding: 30px 30px 40px;
}
.card_body {
    position: relative;

    padding: 30px 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card_header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-color: linear-gradient(to bottom left, to bottom right, #5f748f, #3A475E, #6fccd8, #f2f0f3, #7d83bf);
}
img {
    height: 50%;
    width: 50%;
}