* {
    color: #f2f0f3;
}
body {
    background-image: url("/imgs/k99.png");
}
.mainAbout {
  font-size: 36px;
}
.carousel {
    overflow: hidden;
    width: 30vw;
    height: 30vh;
    position: relative;
}
.carousel ul {  
    margin: 0;
    padding: 0;
    list-style: none;
}
.carousel img {
    display: block;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-left: 25%;
}
.carousel .slide--visible {
    display: block;
}
.carousel .slide--hidden {
    display: none;
}
.carousel button {
    position: absolute;
    z-index: 1;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    color: rgba(255, 255, 255);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .3);
}
.carousel button:hover, .carousel button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .5);
} 
#prev {
    left: 1rem;
}
#next {
    right: 1rem;
}
button{
    background-color: transparent;
}