a {
    color: #f2f0f3;
    text-decoration: none;
}
#top-nav {
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    padding: 0 24px;
}
#nav-ul {
    position: fixed;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 2;
    font-weight: bold
}
.hamburger{
    position: fixed;
    display: none;
    cursor: pointer;
    z-index: 2;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background-color: #f2f0f3;  
}
@media(max-width:768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    #top-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 24px;

    }
    #nav-ul{
        position: fixed;
        display: flex;
        left: -150%;
        top: 15px;
        width: 90%;
        flex-direction: row;
        background-color: #7d83bf;
        text-align: center;
        transition: .3s;
        gap: 0;
    }
    .nav-links {
        margin: 16xp 0;
    }
    #nav-ul.active{
        left: 0;
    }
} 
.nav-links {
    list-style: none;
    
}
a:link, a:visited {
    background-color: transparent;
    color: #f2f0f3;
    text-decoration: none;
   
}
a:hover, a:active {
    color: #6fccd8 ;
}