a {
    color: #f2f0f3;
    text-decoration: none;
}
.header-main{
    display: flex;
    justify-content: space-between;
    padding-top: 4em ;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 30em;
}

.nav-item {
    color: rgba(255,255,255,1);
    font-size: 1.5em;
    text-align: left;
    text-decoration: none;
    margin-bottom: -1rem;
}

.nav-bar a{
    text-decoration: none;
    font-weight: 300;
}
span {
    text-decoration: none;
    font-weight: 300; 
}

.box-nav{
    margin-top: -5px;
    border: .115em solid rgb(242,240,243,1);
    padding: .15em;
    border-radius: 2em;
}

.logo-img {
    width: 13.5em;
    height: 42px;
    margin-top: -1rem;
}

.nav-links {
    list-style: none;
    
}
a:link, a:visited {
    background-color: transparent;
    color: #f2f0f3;
    text-decoration: none;
   
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    padding: .1em 1em;
    z-index: 1;
    margin-left: -3.5em;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }

#profileButtons{
      flex-direction: column;
      width: 120px;
}

.form-link{
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.form-link{
    cursor: pointer;
}

.nav-other-link{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

.form-button{
    height: 20px;
}
.form-button button{
    color: white;
}