<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (messages.error) { %>
        <%= messages.error %>
      <% } %>
<br><br><br><br>
    <h1>Make a New instrument:</h1>
    <form action="/instruments" method="POST">
        Name: <input type="text" name="name"  required><br>
        Price: <input type="number" name="price"><br>
        Description:<textarea name="description" id="" cols="30" rows="10"></textarea>
        Location: <input type="text" name="location" required><br>
        <button type="submit">Submit</button>
    </form>

    <a href="/instruments"><button>Go to All Instruments</button></a>
    <a href="/users/home"><button>Go Back Home</button></a>
</body>
</html>