<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <main class="wrapper">
 
                    <%- include('../partials/messages') %>
                    <%- include('../partials/filepondLinks') %>
                        <%- include('../partials/nav') %>

                <section class="newinstrument-secction">

                    <h1>Make a New instrument:</h1>
                    <form class="form-contents" action="/instruments" method="POST">
                        <div class="actual-form">
                            <div>
                                <label for="name">Name</label><br>
                                <input type="text" name="name" required><br>
                                <label for="price">Price</label><br>
                                <input type="number" name="price"><br>
                                <label for="description">Description</label><br>
                                <textarea name="description" id="" cols="19" rows="10"></textarea><br>
                                <label for="location">Location</label><br>
                                <input type="text" name="location" required><br>
                            </div>
                            <div class="fileUpload">
                                <input type="file" class="filepond instrument-photo" name="photo">
                            </div>
                        </div>
                        <br><br>
                        <button class="nasa-btn" type="submit">
                            <div class="moving-button">
                               Post!
                            </div>
                        </button>
                    </form>
                </section>
    </main>

</body>

</html>