<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/filepondLinks') %>

</head>

<body>
    <main class="wrapper">
                        <%- include('../partials/nav') %>

                <section class="box">
                    <div>
                        <h1>New Instrument Listing:</h1>
                        <%- include('../partials/messages') %>
                    </div>
                    <form class="form-contents" action="/instruments" method="POST">
                        <div class="actual-form height">
                            <div class="form-with-fields">
                                <input type="text" name="name" required placeholder="Name"><br>
                                <input type="number" name="price" placeholder="Price"><br>
                                <textarea name="description" id="" cols="19" rows="17" placeholder="Description" required></textarea><br>
                                <input type="text" name="location" required placeholder="Location"><br>
                            </div>
                            <div class="fileUpload">
                                <input  required type="file" class="filepond instrument-photo" name="photo">
                            </div>
                        </div>
                        <button class="nasa-btn" type="submit">
                            <div class="moving-button">
                               Post!
                            </div>
                        </button>
                    </form>
                </section>

    </main>

</body>

</html>