<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= userObject.username %>
    <br><br><br>
    <% userObject.hobbies.forEach(Hobby => { %>
            <%= userObject.hobbies %>

    <% }); %>

<form action="/logout" method="POST">
    <button type="submit">LOG OUT</button>
</form>

<a href="/<%= userObject._id %>/edit ">
    <button>
        Edit Profile
    </button>
</a>
</body>
</html>