<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registerform.css">
   
</head>
<body>
    <main class="wrapper">

        <section class="box">
            <%- include('../partials/messages') %> 

           <a href="/home"><img src="/imgs/Kantatalogo.png" alt=""></a>
            <form action="/home/new" method="POST">
                <input type="text" name="username" required min="5" max="25" placeholder="Username" class="input-field">
                <input type="password" name="password" required min="5" max="25" placeholder="Password" class="input-field">
                <input type="password" name="confirmPassword" required min="5" max="25" placeholder="Confirm Password" class="input-field">
                <input type="text" name="name" required min="5" max="25" placeholder="Full Name" class="input-field">
                <input type="email" name="email" required min="5" max="25"  placeholder="Email" class="input-field">
                <input type="text" name="city" required min="5" max="25"  placeholder="City" class="input-field">
                <input type="text" name="state" required min="2" max="25"  placeholder="State" class="input-field">
                <button type="submit" id="signup">Register</button>
            </form>
        </section>

    </main>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="/js/comparePassword.js"></script>
</body>
</html>